.App {
}

.link {
    font-size: 1.5rem;
    margin-left: 1%;
    color: #559E54;
}

nav {
    background-color: #341109;
    padding: 2%;
    display: flex;
    justify-content: start;
}

p {
    padding-left: 2%;
}

span {
    border-right: 1px solid #559E54;
    margin-left: 2%;
}